<p id="notice"><%= notice %></p>

<p>
  <strong>Manufacture name:</strong>
  <%= @car.manufacture_name %>
</p>

<p>
  <strong>Model name:</strong>
  <%= @car.model_name %>
</p>

<p>
  <strong>Model year:</strong>
  <%= @car.model_year %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car.price %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
